<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Modify Customer User Profile</h1>

  <!-- main page content -->
  <div class="content">
    <div class="menu-controller">
    </div>
    <div class="main-content">
      <app-customer-user-form [user]="customerUser"></app-customer-user-form>
    </div>

  </div>

  <app-footer></app-footer>
</div>
