@import '../../../main-style.sass'

.content
  display: flex
  padding: 0 40px
  min-height: 37.9%

.menu-controller
  width: 25%

.main-content
  flex-grow: 1

h2
  margin-bottom: 0

.username
  font-weight: 400
  font-size: larger
  font-style: italic

.user-tag
  user-select: none

.role-name
  color: $red

.template-button
  background-color: $yellow
  color: $white
  margin-top: 15px
