<div class="content">
  <div class="menu-controller">
    <!-- image placeholder -->
    <div class="field ">
      <div class="control">
        <div class="file has-name">
          <label class="file-label">
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </label>
        </div>
      </div>
    </div>
    <!-- username tag -->
    <p class="username is-centered"><span class="user-tag">@</span>{{ user.username }} </p>
    <!-- edit button -->
    <button (click)="modifyCustomerUser()" type="button" class="button template-button is-rounded">
      <span class="icon">
        <img class="icon" [src]="editIcon">
      </span>
      <span>Modify Profile</span>
    </button>
  </div>

  <div class="main-content">
    <h2>{{ user.name }} {{ user.surname }}</h2>
     <p class="role-name">{{ parsedUserRoleName }}</p>
    <p>{{ user.email }}</p>
  </div>
</div>
