<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>{{ pageTitle }}</h1>

  <!-- main page content -->
  <div class="content">
    <div class="menu-controller">
    </div>
    <div class="main-content">
      <app-company-user-form *ngIf="!isUpdating; else elseBlock"></app-company-user-form>
      <ng-template #elseBlock>
        <app-update-company-user-form [user]="companyUser"></app-update-company-user-form>
      </ng-template>
    </div>

  </div>

  <app-footer></app-footer>
</div>
