<h4>Products: </h4>

<div class="list">
  <p *ngIf="productList.length === 0">No available products.</p>
  <div class="columns">

    <div *ngFor="let product of productList" class="card column">
      <app-item-card [item]="product" [className]="'product'"></app-item-card>
    </div>

  </div>
</div>

