@import '../../../main-style.sass'

.drop-down-menu
  position: absolute
  right: 28px
  top: 80px
  font-size: 15px
  font-weight: 400
  padding: 20px
  background-color: $light-red
  border-radius: 10px
  z-index: 10
  
  ul li
    margin-bottom: 12px
    padding-bottom: 8px
    border-bottom: #fafafa .5px solid
    cursor: pointer
    transition: 0.2s

.hide
  display: none

.selected
  fill: black