<div class="header-button user">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" class="selected" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg> -->
  <img [src]="userDefaultIcon" alt="" class="selected">
  <button (click)="showDropDownMenu()" class="arrow" type="button"><img [src]="arrow" alt=""></button>
</div>

<div id="drop-down-menu" class="drop-down-menu hide">
  <ul>
    <li><a routerLink="/myprofile">My User Profile</a></li>

    <li *ngIf="isCompanyUser" >
      <a routerLink="/profile-list">
        User Profile List Page
      </a>
    </li>

    <li *ngIf="isCompanyUser" >
      <a routerLink="/category">
        Category page
      </a>
    </li>

    <li *ngIf="isCompanyUser" >
      <a routerLink="/company">
        Company page
      </a>
    </li>

    <li (click)="logOut()">Log Out</li>
  </ul>
</div>
