<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1 *ngIf="!isUpdating; else elseTitleBlock">{{ addTitle }}</h1>
  <ng-template #elseTitleBlock>
    <h1>{{ updateTitle }}</h1>
  </ng-template>

  <div class="content">
    <div class="menu-content">
      <!-- <app-category-filter></app-category-filter> -->
    </div>
    <div class="main-content">

      <!-- Form - used template-driven -->
      <form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
        <div class="container">

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Category Name"
                    name="name" [(ngModel)]="category.name" #name="ngModel"
                    required minlength="3">
              <!-- error validations -->
              <div *ngIf="name.touched && !name.valid && form.submitted" class="notification is-danger is-light">
                <p *ngIf="name.errors.minlength">
                  <strong>Name</strong> should be minimum {{ name.errors.minlength.requiredLength }} characters.
                </p>
                <p *ngIf="name.errors.required">
                  You must type the <strong>Name</strong>.
                </p>
              </div>
            </div>
          </div>

          <!-- submit button -->
          <button type="submit" class="button is-rounded is-primary" [disabled]="!form.form.valid">
            {{ (isUpdating===true) ? 'Update' : 'Add' }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
  