<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Notification Page</h1>

  <div class="content">
    <div class="menu-controller">

    </div>

    <div class="main-content">
      <div *ngFor="let item of customerNotifications">
        <div class="card">
          <div class="card-header">
            <h2>{{ parseType(item.notificationType) }}</h2>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="card-info"><strong>Message:</strong> {{ item.message }}</p>

              <h3 class="red-text is-6">Customer User Info</h3>

              <p class="card-info">{{ item.customerName }} {{ item.customerSurname }}</p>
              <p class="card-info">{{ item.username }}</p>
              <p class="card-info">{{ item.customerEmail }}</p>

              <h3 class="red-text is-6">Company Info</h3>

              <p class="card-info">{{ item.companyName }}</p>
              <p class="card-info">{{ item.VATNumber }}</p>
              <p class="card-info">{{ item.companyEmail }}</p>
              <p class="card-info">{{ item.telephoneNumber }}</p>
            </div>
            
            <div class="inline" *ngIf="!item.result; else elseBlock">
              <button (click)="changeState(item.id, true)" class="button card-footer">Approve Request</button>
              <button (click)="changeState(item.id, false)" class="button card-footer decline">Decline Request</button>
            </div>
            <ng-template #elseBlock>
              <p class="outcome">Notification was already approved</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <app-footer></app-footer>

</div>
