@import '../../../main-style.sass'

html, body
  margin: 0
  padding: 0

.centered-content
  height: 85%
  margin: 0
  padding: 0

.content
  display: flex
  min-height: 34.8%
  padding: 0 40px

.menu-controller
  width: 25%

.main-content
  flex-grow: 1

h1
  font-family: Montserrat
  font-style: normal
  font-weight: 800
  font-size: 48px
  line-height: 59px
  text-align: center
  letter-spacing: 0.055em
  margin: 30px 0
  color: $black

.card 
  display: block
  grid-template-columns: 30% 70%
  margin-bottom: 30px
    
.card-header
  color: #fafafa
  background-color: $light-red
  padding: 20px 30px 0

.card-content
  padding: 20px 30px

.card-image img
    border-radius: 10%

.content
    display: block
    font-weight: 400

.card-info
  padding-left: 20px

app-footer
  display: block
  height: 10%

.inline
    display: flex
    justify-content: center

.button
  display: flex
  width: fit-content
  margin-bottom: 20px
  margin-left: auto
  background-color: $yellow
  transition: 0.3s
  &:hover
    box-shadow: 0 0.5em 1em -0.125em rgba(34, 34, 34, 0.3), 0 0px 0 1px rgba(34, 34, 34, 0.1)

.decline
  background-color: $red

.outcome
  font-style: italic