@import '../../../main-style.sass'

html, body
  margin: 0
  padding: 0

.centered-content
  height: 85%
  margin: 0
  padding: 0

.content
  display: flex
  min-height: 34.8%
  padding: 0 40px

.menu-controller
  width: 25%

.main-content
  flex-grow: 1

h1
  font-family: Montserrat
  font-style: normal
  font-weight: 800
  font-size: 48px
  line-height: 59px
  text-align: center
  letter-spacing: 0.055em
  margin: 30px 0
  color: $black

h3
  font-size: 28px
  margin-bottom: 25px

.report
    display: flex
    justify-content: space-evenly

.card
    display: grid
    grid-template-columns: 30% 70%
    margin-bottom: 30px
    padding: 20px 30px

.card-image img
    border-radius: 10%

.card-content
  display: inline-block
  font-weight: 400
  padding: 0

strong
  margin-right: 12px

app-footer
  display: block
  height: 10%

.button
  display: flex
  width: fit-content
  margin-bottom: 20px
  margin-left: auto
  color: white
  background-color: $yellow
