<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>All Order List Page</h1>

  <div class="content">
    <div class="menu-controller"></div>

    <div class="main-content">

    <p class="notification is-danger is-light" *ngIf="orderList.length == 0">No orders have been made yet.</p>

      
      <div class="report">
        <h4>Total Revenue: {{ totalAmount }} €</h4>
        <h4>Total Current Month Revenue: {{ getCurrentMonthRevenue() }} €</h4>
      </div>

      <div *ngFor="let item of orderList">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/product-1.png" alt="{{ item.id }}">
          </div>
          <div class="card-content">
            <p class=" is-6">Customer Name: {{ item.customer.name }} {{ item.customer.surname }}</p>
            <p class=" is-6">Customer Username: {{ item.customer.username }}</p>
            <strong><p class="">Order Number {{ item.id }}</p></strong>
            <p class=" is-6 red-text">Total Amount: {{ item.totalAmount }} €</p>
            <p class=" is-6">Order date: {{ item.createdAt }}</p>
            <p class=" is-6">Paid: {{ item.paid == true ? 'Yes, Already Paid' : 'Not Yet' }}.</p>

            <button (click)="showProductList(item)" class="button card-footer">View Order Description</button>
            
            <!--  when order is not yet paid, display the button -->
            <div [hidden]="item.paid">
              <button  (click)="payOrder(item)" class="button card-footer">Pay Order</button>
            </div>
          </div>
        </div>
      </div>

      
    </div>

  </div>

  <!-- footer -->
  <app-footer></app-footer>

</div>
