<div class="header">
  <div class="left">
    <a  href=""><img [src]='logoIcon' alt="UpCatalog"></a>
  </div>

  <div class="right">
    <!-- customers see only their order page.  -->
    <!-- company users can see every user's order -->
    <div *ngIf="isCompanyUser; else elseBlock">
      <a routerLink="/order-list" class="header-button header-icon">
        <img [src]="orderIcon" alt="">
        <span>Order</span>
      </a>
    </div>
    <ng-template #elseBlock>
      <a routerLink="/order" class="header-button header-icon">
        <img [src]="orderIcon" alt="">
        <span>Order</span>
      </a>
    </ng-template>

    <!-- notification centre is not visible for customers -->
    <div [hidden]="!isCompanyUser">
      <a routerLink="/notification" class="header-button header-icon">
        <img [src]="notificationIcon" alt="">
      </a>
    </div>
    
   

    <!-- cart is not visible for company userss -->
    <div [hidden]="isCompanyUser">
      <a routerLink="/cart" class="header-button header-icon">
        <img [src]='cartIcon' alt="">
        <span>Cart</span>
      </a>
    </div>
    <app-user-profile-button></app-user-profile-button>
  </div>
</div>
