@import '../../../main-style.sass'

html, body
  margin: 0
  padding: 0

.header
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  height: 83px
  margin: 0
  padding: 0 30px
  background-color: $red

a
  color: $white
  user-select: none

a:hover
  color: $white

.left
  margin-right: auto

.left a img
  width: 215px
  height: auto
  transform: translateY(7px)

.right
  display: flex
  align-items: center
  margin-left: auto
  color: $white
  font-weight: 600
  font-size: 26px

.header-button
  display: flex
  margin-left: 30px
  padding: 8px 15px

.header-icon
  background-color: $light-red
  border-radius: 10px

.header-icon img
  width: 40px
  height: auto

.user
  background-color: $light-red
  border-radius: 10px

.user img
  width: 40px
  height: auto
  margin-right: 5px

.arrow
  display: inline
  background-color: inherit

.arrow img
  width: 26px
  height: auto
  transform: translateY(10px)

.app-chat
  position: absolute
  bottom: 10px
  right: 10px
