<div id="chat">

  <div id="chat-header" class="header">
    <h3 class="chat-title">Customer Service Chat</h3>

    <button (click)="showChat()" class="button">-</button>
    <button (click)="closeChat()" class="button">X</button>
  </div>

  <!-- by default the chat body is hided -->
  <div id="chatBody" class="chat-body hide">
    <div class="content">
      <div *ngFor="let msg of chatService.messages">
        {{msg}}
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input (keydown)="onSubmit($event)" class="input" type="text" placeholder="message" [(ngModel)]="input">

      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="send-button" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>

</div>
