@import '../../../main-style.sass'
  
#chat
  position: fixed
  width: 400px
  max-height: 350px
  right: .5em
  bottom: .5em
  color: black
  font-weight: 400
  box-shadow: 0 0.5em 1em -0.125em rgba(34, 34, 34, 0.1), 0 0px 0 1px rgba(34, 34, 34, 0.02)
  
.hide
  display: none

.header
  display: flex
  justify-content: flex-end
  height: 40px
  padding: 0 10px
  font-weight: 600
  border-top-left-radius: 10px 10px
  border-top-right-radius: 10px 10px
  background-color: $light-red

.chat-title
  color: white
  margin-right: 114px

.button
  width: 10px
  height: 24px
  margin-left: 5px
  background-color: #ffffffa6

.chat-body
  padding: 1.5em
  background-color: #fff2ba


.content
  height: 153px
  padding: 1em
  background-color: white
  overflow-y: scroll


.send-button
  padding: 8px 10px
  margin-left: auto
  color:#fafafa
  background-color: #E98074
  border-radius: 4px


input
  background-color: white

input::placeholder
  color: black

input:hover
  color: black

button
  color: black
