<h3>Category</h3>
<div class="category-list">
  <a class="is-active" (click)="filterProductByCategory(1)">All categories</a>

  <a *ngFor="let category of categoryList" (click)="filterProductByCategory(category)">{{ category.name }}</a>
</div>
