@import '../../../main-style.sass'

h3
  font-size: 20px
  font-weight: 300
  font-style: normal
  text-transform: uppercase
  color: $black
  padding-bottom: 15px
  margin-right: 40px
  border-bottom: .5px solid $gray
  user-select: none

.category-list
  display: flex
  flex-direction: column
  margin-top: 15px
  flex-grow: 1

a
  width: fit-content
  color: $gray
  text-transform: uppercase
  font-weight: 500
  font-size: 24px
  line-height: 30px
  margin-left: 25px
  margin-bottom: 15px
  list-style-type: none

a:hover
  cursor: pointer

a.active
  color: $red

a.is-active
  color: $red
