@import '../../../main-style.sass'

$card-width: 25%

.columns
  display: grid
  grid-template-columns: repeat(4, 1fr)
  column-gap: 15px
  margin: 0

.column
  margin-bottom: 1.5em

.card
  width: $card-width
  max-width: $card-width
  min-width: 230px
  word-break: normal