<h4>Raw Materials: </h4>

<div class="list">
  <p *ngIf="filteredRawMaterialList.length === 0">No available raw materials.</p>

  <div class="columns">
    <div *ngFor="let rawMaterial of filteredRawMaterialList" class="card column">
      <app-item-card [item]="rawMaterial" [className]="'raw-material'"></app-item-card>
    </div>

  </div>
</div>

