<!-- Form - used template-driven -->
<form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
  <div class="container">
    <h4 class="is-small">Raw Material Image</h4>

    <figure class="image is-128x128 is-centered ">
      <img src="https://bulma.io/images/placeholders/256x256.png">
    </figure>

    <!-- image placeholder -->
    <div class="field">
      <div class="control">
        <div class="file has-name">
          <label class="file-label">
            <input class="file-input" type="file" name="img-file">
            <span class="file-cta">
              <span class="file-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="grey" width="30px" height="30px"><path d="M0 0h24v24H0z" fill="none"/><path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z"/></svg>
              </span>
              <span class="file-label">
                Choose an image...
              </span>
            </span>
            <span class="file-name">
              file_name_sample.jpg
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Raw Material Name"
               name="name" [(ngModel)]="rawMaterial.name" #name="ngModel"
               required minlength="3">
        <!-- error validations -->
        <div *ngIf="name.touched && !name.valid && form.submitted" class="notification is-danger is-light">
          <p *ngIf="name.errors.minlength">
            <strong>Name</strong> should be minimum {{ name.errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="name.errors.required">
            You must type the <strong>Name</strong>.
          </p>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <input class="input" type="text" placeholder="Raw Material Description"
               [(ngModel)]="rawMaterial.description" name="description" #description="ngModel"
               required minlength="3">
        <!-- error validations -->
        <div *ngIf="description.touched && !description.valid" class="notification is-danger is-light">
          <p *ngIf="description.errors.minlength">
            <strong>Description</strong> should be minimum {{ description.errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="description.errors.required">
            You must type the <strong>Description</strong>.
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Supplier</label>
          <div class="select is-expanded">
            <select [(ngModel)]="rawMaterial.supplier" name="supplier"
                    #supplier="ngModel" required>
              <option *ngFor="let supplier of supplierList | async" [ngValue]="supplier">
                {{ supplier.name }} - {{ supplier.vatnumber }}
              </option>
            </select>
          </div>
          <!-- error validations -->
          <div *ngIf="supplier.touched && !supplier.valid" class="notification is-danger is-light">
            <p *ngIf="supplier.errors.required">
              You must select a <strong>supplier</strong>.
            </p>
          </div>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="select is-expanded">
            <select [(ngModel)]="rawMaterial.category" name="category"
                    required #category="ngModel">
              <option selected *ngFor="let category of categoryList | async" [ngValue]="category">
                {{ category.name }}
              </option>
            </select>
          </div>
          <!-- error validations -->
          <div *ngIf="category.touched && !category.valid" class="notification is-danger is-light">
            <p *ngIf="category.errors.required">
              You must select a <strong>category</strong>.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Quantity</label>
          <div class="control is-expanded">
            <input class="input" type="number" min="1" step="1" name="quantity" placeholder="Available Quantity"
                   [(ngModel)]="rawMaterial.quantity" #quantity="ngModel" required>
                   <!-- error validations -->
            <div *ngIf="quantity.touched && !quantity.valid" class="notification is-danger is-light">
              <p *ngIf="quantity.errors.required">
                You must enter the <strong>quantity</strong> number.
              </p>
            </div>
          </div>

        </div>

        <div class="field">
          <label class="label">Bought Price</label>
          <div class="control is-expanded">
            <input class="input" type="number" min="0.01" step="0.01" placeholder="Bought Price"
                   [(ngModel)]="rawMaterial.boughtPrice" name="boughtPrice" #boughtPrice="ngModel" required>
              <!-- error validations -->
              <div *ngIf="boughtPrice.touched && !boughtPrice.valid" class="notification is-danger is-light">
              <p *ngIf="boughtPrice.errors.required">
                You must enter the <strong>boughtPrice</strong> number.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Minimum Threshold Amount</label>
          <p class="control is-expanded has-icons-right">
            <input class="input" type="number" in="1" min="1" step="1" placeholder="Minimum Threshold Amount"
                   [(ngModel)]="rawMaterial.minimumThreshold" name="minimumThreshold" #minimumThreshold="ngModel" required>
            <p class="help">HINT: when quantity drops below this threshold, you will be notified</p>
            <!-- error validations -->
            <div *ngIf="minimumThreshold.touched && !minimumThreshold.valid" class="notification is-danger is-light">
              <p *ngIf="minimumThreshold.errors.required">
                You must enter the <strong>minimumThreshold</strong> number.
              </p>
            </div>
        </div>
        
      </div>
    </div>

    <!-- add template button -->
    <!-- <button type="button" class="button template-button is-rounded">
      <span class="icon">
        <img class="icon" [src]="icon">
      </span>
      <span>Add Template</span>
    </button> -->

    <div class="button-line">
      <!-- submit button -->
      <button type="submit" class="button is-rounded is-primary" [disabled]="!form.form.valid">
        Update
      </button>

      <!-- disable item button -->
      <button (click)="deleteItem()" class="button is-rounded is-primary" [hidden]="!isAdmin">
        Delete
      </button>
    </div>

    <p *ngIf="!form.form.valid" class="notification is-warning is-light">Please insert all input data.</p>
  </div>
</form>

<!-- toas notification -->
<simple-notifications></simple-notifications>
