<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Welcome back {{ user.name }}</h1>

  <!-- main page content -->
  <div class="content">
    <app-user-profile [user]="user" ></app-user-profile>
  </div>

  <app-footer></app-footer>
</div>
