@import '../../../main-style.sass'

html, body
  margin: 0
  padding: 0

.content
  // display: flex
  padding: 0 40px
  min-height: 37.9%

// .menu-controller
//   width: 25%

// .main-content
//   flex-grow: 1

h1
  font-family: Montserrat
  font-style: normal
  font-weight: 800
  font-size: 48px
  line-height: 59px
  text-align: center
  letter-spacing: 0.055em
  margin: 30px 0
  color: $black

.button
  display: flex
  width: fit-content
  margin-bottom: 20px
  margin-left: auto
  background-color: $yellow

app-footer
  display: block
