<div class="links columns">
  <div class="links-section column">
    <h3>address</h3>
    <ul>
      <li><a href="">Praesent enim malesuada.</a></li>
      <li><a href="">Proin pellentesque eget.</a></li>
    </ul>
  </div>

  <div class="links-section  column">
    <h3>useful links</h3>
    <ul>
      <li><a href="">Praesent enim malesuada.</a></li>
      <li><a href="">Proin pellentesque eget.</a></li>
    </ul>
  </div>
</div>

<div class="footer">
  <p class="footer-text">Copyrights | Upcatalog | info...</p>
</div>
