@import '../../../main-style.sass'

.links
  margin-left: 30%

.links-section
  color: $gray

.links-section h3
  font-size: 20px
  font-weight: 300
  font-style: normal
  text-transform: uppercase
  padding-bottom: 15px
  margin-right: 40px
  margin-bottom: 20px
  border-bottom: .5px solid $gray
  user-select: none

.links-section ul li
  list-style-type: none
  margin-left: 20px
  margin-bottom: 15px
  color: $gray

a
  color: $gray
  text-transform: uppercase
a:hover
  color: $red

.footer
  height: 50px
  background-color: $red
  padding: 50px 0

.footer-text
  display: block
  color: $white
  text-align: center
  font-family: Montserrat
  font-style: normal
  font-weight: 500
  font-size: 24px
