<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Welcome To The User List Page</h1>

  <div class="content">
    <div class="menu-controller">
    </div>

    <!-- employee can see only customer user profile list -->
    <div class="main-content">
      <!-- add company user profile button -->
      <div [hidden]="!isManager">
        <a href="/profile/company" class="button template-button is-rounded">
          <span class="icon">
            <img class="icon" [src]="icon">
          </span>
          <span>Add Company Profile</span>
        </a>
      </div>

      <div *ngIf="isManager">
        <h3>Customer User List:</h3>
        
        <div *ngFor="let item of companyUSers">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/img/product-1.png" alt="{{ item.name }}">
            </div>
            <div class="card-content">
              <p class=""><strong>Name:</strong> {{ item.name }} {{ item.surname }}</p>
              <p class=" is-6"><strong>Email:</strong> {{ item.email }}</p>
              <p class=" is-6 red-text"><strong>Role:</strong>  {{ roleNameParser(item.role.roleName) }}</p>
              <button (click)="modifyCompanyUserProfile(item)" class="button card-footer">Modify Profile</button>
            </div>
          </div>
        </div>
      </div>

      <h3>Customer User List:</h3>

      <div *ngFor="let item of customerUSers">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/product-1.png" alt="{{ item.name }}">
          </div>
          <div class="card-content">
            <p class=""><strong>Name:</strong> {{ item.name }} {{ item.surname }}</p>
            <p class=" is-6"><strong>Email:</strong> {{ item.email }}</p>
            <p class=" is-6 red-text"><strong>Role:</strong> {{ roleNameParser(item.role.roleName) }}</p>
            <button (click)="modifyCustomerUserProfile(item)" class="button card-footer">Modify Profile</button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- footer -->
  <app-footer></app-footer>

</div>
