@import '../../../main-style.sass'

.menu-controller
  width: 25%

.main-content
  flex-grow: 1

.notification.is-danger
  font-weight: 600

html, body
  margin: 0
  padding: 0

.content
  display: block
  margin: 0 auto
  max-width: 1200px
  padding: 0 100px

.centered-content
  height: 85%
  margin: 0
  padding: 0

.menu-controller
  width: 25%

.main-content
  flex-grow: 1

h1
  font-family: Montserrat
  font-style: normal
  font-weight: 800
  font-size: 48px
  line-height: 59px
  text-align: center
  letter-spacing: 0.055em
  margin: 30px 0
  color: $black

h3
  font-size: 28px
  margin-bottom: 25px

.card
  display: grid
  grid-template-columns: 30% 70%
  margin-bottom: 30px
  padding: 20px 30px

.card-image img
    border-radius: 10%

.card-content
  display: inline-block
  font-weight: 400
  padding: 0

.card-text
  border-bottom: 1px $gray dashed
  padding: 0 20px
  padding-bottom: 15px
  margin-bottom: 10px


.total-amount
  display: block
  width: fit-content
  margin-left: auto
  margin-right: 20px

strong
  margin-right: 12px

.cart-button
  display: flex
  justify-content: space-between

app-footer
  display: block
  height: 10%

.button
  display: flex
  width: fit-content
  margin-bottom: 20px
  margin-left: auto
  color: white
  background-color: $yellow

.decline
  background-color: $red
