<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Cart Page</h1>

  <div class="content">
    <div class="menu-controller">

    </div>

    <p class="notification is-danger is-light" *ngIf="this.cartService.cart.length == 0">No products added to the cart yet.</p>

    <div class="main-content">
      <div *ngFor="let item of this.cartService.cart">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/product-1.png" alt="{{ item.product.name }}">
          </div>
          <div class="card-content">
            <div class="card-text">
              <p class=""><strong>Product Name:</strong> {{ item.product.name }}</p>
              <p class=""><strong>Product Description:</strong> {{ item.product.description }}</p>
              <p class=""><strong>Category Name:</strong> {{ item.product.category.name}}</p>
              <p class=""><strong>Bought Price:</strong> {{ item.product.sellPrice }} €</p>
              <p class=""><strong>Quantity:</strong> {{ item.quantity }}</p>
              <p class=""><strong>Quantity Per Stock:</strong> {{ item.product.quantityPerStock }}</p>
            </div>

            <div class="content-right">
              <h3>Amount: <strong>{{ item.product.boughtPrice * item.quantity }} €</strong> </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="total-amount">
        <h1>Total Amount: {{ totalAmount }}</h1>
      </div>

      <div class="cart-button" *ngIf="this.cartService.cart.length > 0">
        <button (click)="emptyCart()" class="button card-footer decline">Empty cart</button>
        <button (click)="confirmOrder()" class="button card-footer">Confirm Order</button>
      </div>

    </div>
  </div>

  <!-- footer -->
  <app-footer></app-footer>

</div>
