<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Welcome To The Order Page</h1>

  <div class="content">
    <div class="menu-controller">
      <app-category-filter></app-category-filter>
    </div>

    <div class="main-content">

    <p class="notification is-danger is-light" *ngIf="orderList.length == 0">No orders have been made yet.</p>

      <!-- show some options -->
      <!-- <div>
        <a href="/profile/company" class="button template-button is-rounded">
          <span class="icon">
            <img class="icon" [src]="icon">
          </span>
          <span>Add Company Profile</span>
        </a>
      </div> -->

      <!-- <h3>List:</h3> -->

      <div *ngFor="let item of orderList">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/product-1.png" alt="{{ item.id }}">
          </div>
          <div class="card-content">
            <strong><p class="">Order Number {{ item.id }}</p></strong>
            <p class=" is-6 red-text">Total Amount: {{ item.totalAmount }} €</p>
            <p class=" is-6">Order date: {{ item.createdAt }}</p>
            <p class=" is-6">Paid: {{ item.isPaid == true ? 'Yes, Already Paid' : 'Not Yet' }}.</p>

            <button (click)="showProductList(item)" class="button card-footer">View Order Description</button>
          </div>
        </div>
      </div>

      
    </div>

  </div>

  <!-- footer -->
  <app-footer></app-footer>

</div>
