<div class="content">
  <div>
    <img class="logo" src="/assets/img/logo.svg" alt="">
  </div>

  <form class="login-form" [formGroup]="myForm"  #ngForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Username"
                formControlName="username" required minlength="3">
        <!-- error validations  -->
        <div *ngIf="myForm.get('username').touched && !myForm.get('username').valid" class="notification is-light is-danger">
          <p *ngIf="myForm.get('username').errors.minlength">
            <strong>Username</strong> should be minimum {{ myForm.get('username').errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="myForm.get('username').errors.required">
            You must type <strong>Username</strong>.
          </p>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input class="input" type="password" placeholder="Password"
                formControlName="password" required minlength="3">
        <!-- error validatoins -->
        <div *ngIf="myForm.get('password').touched && !myForm.get('password').valid" class="notification is-light is-danger">
          <p *ngIf="myForm.get('password').errors.minlength">
            <strong>Password</strong> should be minimum {{ myForm.get('password').errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="myForm.get('password').errors.required">
            You must type <strong>Password</strong>.
          </p>
        </div>
      </div>
    </div>

    <div class="submit field">
      <div class="control">
        <button [disabled]="!myForm.valid" type="submit" class="button is-rounded">
          Submit
        </button>

        <div id="loginError"></div>
      </div>
      
      <div>
        <a class="request-link" routerLink="/signup-customer">Request An Account</a>
      </div>
    </div>
  </form>
</div>
