@import '../../../../main-style.sass'

$gradient-red: rgba(235, 87, 87, 0.72)
$gradient-yellow: rgba(255, 216, 158, 0.86)
$login-red: #EB8280

.content
	height: 100%
	// gradient
	background-image: url("/assets/img/login-page.png")
	background-repeat: no-repeat
	background-size: 100% 100%

.logo
	display: block
	margin: 0 auto
	padding-top: 90px

.login-form
	display: block
	width: 25em
	margin: 0 auto
	padding: 32px 40px
	background-color: rgba(255, 255, 255, 0.2)
	border-radius: 25px
	font-weight: 600

input[type="text"]
	height: 45px
	color: $login-red
	border: none

input[type="text"]::placeholder
	color: $login-red

input[type="text"]:focus
	border-color: $black

input[type="text"]:hover
	border-color: inherit

.submit
	margin-top: 30px

.button
	display: block
	width: 100%
	background-color: $light-yellow 
	color: $black

.button:hover
	color: $black

.notification.is-danger.is-light
	padding: 10px 0px
	font-size: 14px
	background-color: transparent
	
.request-link
	display: block
	text-align: center
	margin: 10px 0 auto
	font-size: 13px
	text-decoration: underline
	transition: .2s

.request-link:hover
	color: $red