@import '../../../main-style.sass'

.container, field
  padding: 20px 0

.file-cta, .file-cta:hover, file-name:hover
  background-color: $yellow

input[type="text"], select
  border-radius: 0
  color: $black

input[type="text"]::placeholder
  color: $gray

input[type="text"]:focus, select:focus
  border-color: $black

input[type="text"]:hover , select:hover
  border-color: $black

.button
  margin-bottom: 22px

.template-button
  background-color: $yellow
  color: $white
