<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Welcome To The Category Page</h1>

  <div class="content">
    <div class="menu-controller">
    </div>

    <!-- employee can see only customer user profile list -->
    <div class="main-content">
      <!-- add company user profile button -->
      <div >
        <a href="/profile/company" class="button template-button is-rounded">
          <span class="icon">
            <img class="icon" [src]="icon">
          </span>
          <span>Add Category</span>
        </a>
      </div>

      <h3>Customer User List:</h3>
      
      <div *ngFor="let item of categorylist">
        <div class="card">
          <div class="card-image">
          </div>
          <div class="card-content">
            <p class=""><strong>Name:</strong> {{ item.name }}</p>
            <button (click)="modifyCategory(item)" class="button card-footer">Modify Category</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <app-footer></app-footer>

</div>
