@import '../../../main-style.sass'

$card-width: 25%

.card
  width: $card-width
  max-width: $card-width
  min-width: 230px
  word-break: normal

.item-name
  font-weight: 600

.item-detail-price
  font-size: 19px
  font-weight: 800

.item-detail-quantity-per-stock
  font-size: 13px

.item-price
  display: flex
  justify-content: space-between

.item-detail-quantity
  width: 50px
  height: 30px
  border: 1px solid $gray
  font-weight: 800
  padding: 4px 10px

.button
  display: block
  margin-left: 3.5em
  margin-top: 19px
  color: $white
  background-color: $light-red

.raw-material-button
  margin-left: 0em

.description
  height: 90px
  overflow-y: auto
