<!-- Basic item card template -->

<!-- product card template -->
<div *ngIf="className === 'product'">
  <div class="card-image" >
    <img src="../../../assets/img/product-1.png" alt="{{ item.name }}">
  </div>
  <div class="card-content column">
    <div class="media">

      <div class="content">
        <p class="subtitle ">{{ product.name }}</p>
        <p class="subtitle is-6 red-text">{{ product.category.name }}</p>
        <p class="subtitle is-6 red-text description">{{ product.description }}</p>
        <div class="item-price">
          <p class="subtitle">€
            <span class="item-detail-price">{{ product.sellPrice }}</span>
            /
            <span class="item-detail-quantity-per-stock">{{ product.quantityPerStock }} pieces</span>
          </p>
          <input class="item-detail-quantity" [(ngModel)]="quantityInput" type="number" name="quantitySelected" id="quantitySelected" value="1" min="1" max="99" maxlength="2">
        </div>
        <button (click)="addToCart(product)" class="button">Add To Cart</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="className === 'raw-material'">
  <div class="card-image">
    <img src="../../../assets/img/product-1.png" alt="{{ item.name }}">
  </div>
  <div class="card-content column">
    <div class="media">

      <div class="content">
        <p class="subtitle item-name">{{ rawMaterial?.name }}</p>
        <p class="subtitle is-6 red-text">{{ rawMaterial?.category.name }}</p>
        <p class="subtitle is-6 red-text description">{{ rawMaterial?.description }}</p>
        <p class="subtitle">€
          <span class="item-detail-price">{{ rawMaterial?.boughtPrice }}</span>
        </p>
        <a (click)="onSelect(rawMaterial)" class="button raw-material-button">Modify Raw Material</a>
      </div>
    </div>
  </div>
</div>
