<form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
  <div class="container">
    <h4 class="is-small">Company User Image</h4>

    <figure class="image is-128x128 is-centered ">
      <img src="https://bulma.io/images/placeholders/256x256.png">
    </figure>

    <!-- image placeholder -->
    <div class="field">
      <div class="control">
        <div class="file has-name">
          <label class="file-label">
            <input class="file-input" type="file" name="img-file">
            <span class="file-cta">
              <span class="file-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="grey" width="30px" height="30px"><path d="M0 0h24v24H0z" fill="none"/><path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z"/></svg>
              </span>
              <span class="file-label">
                Choose an image...
              </span>
            </span>
            <span class="file-name">
              file_name_sample.jpg
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Name"
                  name="name" [(ngModel)]="user.name" #name="ngModel"
                  required minlength="3">
            <!-- error validations -->
            <div *ngIf="name.touched && !name.valid && form.submitted" class="notification is-danger is-light">
              <p *ngIf="name.errors.minlength">
                <strong>Name</strong> should be minimum {{ name.errors.minlength.requiredLength }} characters.
              </p>
              <p *ngIf="name.errors.required">
                You must type the <strong>Name</strong>.
              </p>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Surname</label>
          <div class="control">
            <input class="input" type="text" placeholder="Surname"
                  name="surname" [(ngModel)]="user.surname" #surname="ngModel"
                  required minlength="3">
            <!-- error validations -->
            <div *ngIf="surname.touched && !surname.valid && form.submitted" class="notification is-danger is-light">
              <p *ngIf="surname.errors.minlength">
                <strong>Surname</strong> should be minimum {{ surname.errors.minlength.requiredLength }} characters.
              </p>
              <p *ngIf="surname.errors.required">
                You must type the <strong>Surname</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" placeholder="Username"
              [(ngModel)]="user.username" name="username" #username="ngModel"
              required minlength="3">
        <!-- error validations -->
        <div *ngIf="username.touched && !username.valid" class="notification is-danger is-light">
          <p *ngIf="username.errors.minlength">
            <strong>Username</strong> should be minimum {{ username.errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="username.errors.required">
            You must type the <strong>Username</strong>.
          </p>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="Password"
              [(ngModel)]="user.password" name="password" #password="ngModel"
              required minlength="3">
        <!-- error validations -->
        <div *ngIf="password.touched && !password.valid" class="notification is-danger is-light">
          <p *ngIf="password.errors.minlength">
            <strong>Password</strong> should be minimum {{ password.errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="password.errors.required">
            You must type the <strong>Password</strong>.
          </p>
        </div>
      </div>
    </div>


    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" placeholder="Email"
               name="email" [(ngModel)]="user.email" #email="ngModel"
               required minlength="3">
        <!-- error validations -->
        <div *ngIf="email.touched && !email.valid && form.submitted" class="notification is-danger is-light">
          <p *ngIf="email.errors.minlength">
            <strong>Email</strong> should be minimum {{ email.errors.minlength.requiredLength }} characters.
          </p>
          <p *ngIf="email.errors.required">
            You must type the <strong>Email</strong>.
          </p>
        </div>
      </div>
    </div>

    <!-- available for company user -->
    <div id="role-field" class="field" [hidden]="!isUpdatingCompanyUser&&!isAdminUser">
      <label class="label">Role</label>
      <div class="select is-expanded">
        <select [(ngModel)]="user.role" name="role"
                required #role="ngModel">
          <option selected *ngFor="let role of roleList" [ngValue]="role">
            {{ role.roleName }}
          </option>
        </select>
      </div>
      <!-- error validations -->
      <div *ngIf="role.touched && !role.valid" class="notification is-danger is-light">
        <p *ngIf="role.errors.required">
          You must select a <strong>Role</strong>.
        </p>
      </div>
    </div>

    <!-- submit button -->
    <button type="submit" class="button is-rounded is-primary" [disabled]="!form.form.valid">
      Create
    </button>

    <p *ngIf="!form.form.valid" class="notification is-warning is-light">Please insert all input data.</p>
  </div>
</form>
