<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Welcome to the Product List Page</h1>

  <!-- main page content -->
  <div class="content">
    <div class="menu-controller">
      <app-category-filter></app-category-filter>

      <input class="name-filter" type="text" name="" id="" placeholder="Find Product By Name">
    </div>
    <div class="main-content">
      <!-- add raw material button -->
      <div [hidden]="!isCompanyUser">
        <a href="/add-raw-material" class="button template-button is-rounded">
          <span class="icon">
            <img class="icon" [src]="icon">
          </span>
          <span>Add Product</span>
        </a>
      </div>

      <app-product-list></app-product-list>
    </div>
  </div>

  <!-- chat -->
  <app-chat></app-chat>

  <app-footer></app-footer>
</div>
