<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1>Welcome To The Raw Matrial List Page</h1>

  <div class="content">
    <div class="menu-controller">
      <app-category-filter></app-category-filter>

      <input class="name-filter" type="text" name="" id="" placeholder="Find Raw Material By Name">
    </div>

    <div class="main-content">
      <!-- add raw material button -->
      <div [hidden]="">
        <a href="/add-raw-material" class="button template-button is-rounded">
          <span class="icon">
            <img class="icon" [src]="icon">
          </span>
          <span>Add Raw Material</span>
        </a>
      </div>

      <!-- raw material list -->
      <app-raw-material-list [categoryName]="categoryName"></app-raw-material-list>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<app-chat></app-chat>