<div class="centered-content">
  <!-- Header -->
  <app-header></app-header>
  <h1 *ngIf="!isUpdating; else elseTitleBlock">{{ addTitle }}</h1>
  <ng-template #elseTitleBlock>
    <h1>{{ updateTitle }}</h1>
  </ng-template>

  <div class="content">
    <div class="menu-content">
      <!-- <app-category-filter></app-category-filter> -->
    </div>
    <div class="main-content">
      <app-add-raw-material-form *ngIf="!isUpdating; else elseBlock"></app-add-raw-material-form>
      <ng-template #elseBlock>
        <app-update-raw-material-form [rawMaterial]="rawMaterial"></app-update-raw-material-form>
      </ng-template>
    </div>
  </div>

  <app-footer></app-footer>
</div>
