@import '../../../main-style.sass'

.content
  display: flex
  padding: 0 40px
  margin-bottom: 90px

.menu-controller
  width: 25%

.main-content
  flex-grow: 1
  padding: 0 200px

h1
  font-family: Montserrat
  font-style: normal
  font-weight: 800
  font-size: 48px
  line-height: 59px
  text-align: center
  letter-spacing: 0.055em
  margin: 30px 0
  color: $black

.button
  background-color: $yellow
  color: $white
  border: none

.icon
  vertical-align: -14%
