// this is where we put global styles and change variable valuse

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap')

$red : #E85A4f
$light-red: #E98074
$yellow: #FEBA1b
$light-yellow: #FFD89E
$white: #fafafa
$black: #222
$gray: #828282

// Update bulma's global configurations

$family-sans-serif: "Montserrat", sans-serif
$primary: $red
$secondary: $yellow
$input-color: $gray
$input-border-color: $gray

$link: $light-red

// Global changes

html, body
  height: 100%
  margin: 0
  padding: 0

.menu-controller
  min-width: 18em

.centered-content
  height: 100%
  margin: 0
  padding: 0

.subtitle
  font-size: 13px
  font-weight: 500

.red-text
  color: $red

a
  border: none

a:hover
  border: none

button
  display: flex
  color: $white
  border: none
  transition: 0.3s
  &:hover
    box-shadow: 0 0.5em 1em -0.125em rgba(34, 34, 34, 0.3), 0 0px 0 1px rgba(34, 34, 34, 0.1)

button:hover
  color: $white
  border: none
