<div class="content">
  <div>
    <img class="logo" src="/assets/img/logo.svg" alt="">
  </div>

  <form class="login-form" [formGroup]="myForm"  #ngForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <h5>Customer Info Section</h5>    
    <div class="login-grid">

      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Your Name"
                  formControlName="customerName" required minlength="3" autocomplete="false">
          <!-- error validations  -->
          <div *ngIf="myForm.get('customerName').touched && !myForm.get('customerName').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('customerName').errors.minlength">
              <strong>Customer Name</strong> should be minimum {{ myForm.get('customerName').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('customerName').errors.required">
              You must type <strong>Customer Name</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Surname"
                  formControlName="surname" required minlength="3">
          <!-- error validations  -->
          <div *ngIf="myForm.get('surname').touched && !myForm.get('surname').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('surname').errors.minlength">
              <strong>Surname</strong> should be minimum {{ myForm.get('surname').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('surname').errors.required">
              You must type <strong>Surname</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Username"
                  formControlName="username" required minlength="3">
          <!-- error validations  -->
          <div *ngIf="myForm.get('username').touched && !myForm.get('username').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('username').errors.minlength">
              <strong>Username</strong> should be minimum {{ myForm.get('username').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('username').errors.required">
              You must type <strong>Username</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="password" placeholder="Password"
                  formControlName="password" required minlength="3">
          <!-- error validatoins -->
          <div *ngIf="myForm.get('password').touched && !myForm.get('password').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('password').errors.minlength">
              <strong>Password</strong> should be minimum {{ myForm.get('password').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('password').errors.required">
              You must type <strong>Password</strong>.
            </p>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Email"
                  formControlName="customerEmail" required>
          <!-- error validations  -->
          <div *ngIf="myForm.get('customerEmail').touched && !myForm.get('customerEmail').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('customerEmail').invalid">
              <strong>Customer Email</strong> must be a valid email.
            </p>
            <p *ngIf="myForm.get('customerEmail').errors.required">
              You must type <strong>Customer Email</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Company data section -->
    <h5 class="form-caption">Company Info Section</h5>

    <div class="login-grid">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Company Name"
                  formControlName="companyName" required minlength="3">
          <!-- error validations  -->
          <div *ngIf="myForm.get('companyName').touched && !myForm.get('companyName').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('companyName').errors.minlength">
              <strong>Company Name</strong> should be minimum {{ myForm.get('companyName').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('companyName').errors.required">
              You must type <strong>Company Name</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Company VAT Number"
                  formControlName="VATNumber" required minlength="3">
          <!-- error validations  -->
          <div *ngIf="myForm.get('VATNumber').touched && !myForm.get('VATNumber').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('VATNumber').errors.minlength">
              <strong>VAT Number</strong> should be minimum {{ myForm.get('VATNumber').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('VATNumber').errors.required">
              You must type <strong>VAT Number</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Company Address"
                  formControlName="address" required minlength="3">
          <!-- error validations  -->
          <div *ngIf="myForm.get('address').touched && !myForm.get('address').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('address').errors.minlength">
              <strong>Address</strong> should be minimum {{ myForm.get('address').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('address').errors.required">
              You must type <strong>Address</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Company Telephone Number"
                  formControlName="telephoneNumber" required minlength="3">
          <!-- error validations  -->
          <div *ngIf="myForm.get('telephoneNumber').touched && !myForm.get('telephoneNumber').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('telephoneNumber').errors.minlength">
              <strong>Telephone Number</strong> should be minimum {{ myForm.get('telephoneNumber').errors.minlength.requiredLength }} characters.
            </p>
            <p *ngIf="myForm.get('telephoneNumber').errors.required">
              You must type <strong>Telephone Number</strong>.
            </p>
          </div>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Company Email"
                  formControlName="companyEmail" required>
          <!-- error validations  -->
          <div *ngIf="myForm.get('companyEmail').touched && !myForm.get('companyEmail').valid" class="notification is-light is-danger">
            <p *ngIf="myForm.get('companyEmail').invalid">
              <strong>Company Email</strong> must be a valid email.
            </p>
            <p *ngIf="myForm.get('companyEmail').errors.required">
              You must type <strong>Company Email</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="submit field">
      <div class="control">
        <button  type="submit" class="button is-rounded">
          Submit Registration Form
        </button>
<!-- [disabled]="!myForm.valid" -->
        <div id="loginError"></div>
      </div>
      
      <div>
        <a class="request-link" routerLink="/login">Go Back To Login Page</a>
      </div>
    </div>
  </form>
</div>