@import '../../../main-style.sass'

$gradient-red: rgba(235, 87, 87, 0.72)
$gradient-yellow: rgba(255, 216, 158, 0.86)
$login-red: #EB8280

.content
	min-height: 100%
	// gradient
	background-image: url("/assets/img/login-page.png")
	background-repeat: no-repeat
	background-size: 100% 100%

.logo
	display: block
	margin: 0 auto
	padding-top: 20px

.form-caption
	margin-top: 20px

.login-grid
	display: grid 
	grid-template-columns: 1fr 1fr
	grid-column-gap: 13px

.login-form
	width: 36em
	margin: 0 auto
	padding: 32px 40px
	background-color: rgba(255, 255, 255, 0.2)
	border-radius: 25px
	font-weight: 600
	
input[type="text"], input[type="password"], input[type="email"]
	height: 35px
	font-size: 15px
	color: $login-red
	border: none

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder
	color: rgb(235 130 128 / 70%)

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
	border-color: $black

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover
	border-color: inherit

.submit
	display: block
	margin-top: 22px

.button
	display: block
	width: 100%
	background-color: $light-yellow 
	color: $black

.button:hover
	color: $black

.notification.is-danger.is-light
	padding: 10px 0px
	font-size: 14px
	background-color: transparent
	
.request-link
	display: block
	text-align: center
	margin: 10px 0 auto
	font-size: 13px
	text-decoration: underline
	transition: .2s

.request-link:hover
	color: $red